// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('computer-767781_1280.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    color: #08088A;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.navbar .navbar-collapse ul li a, .navbar .navbar-collapse ul li a:hover {
    color: #fff;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-title a:visited, .article-title a:hover {
    color: #337ab7;
    text-decoration: none;
    background: transparent;
}

.article-actions a.btn-primary, .article-actions a.btn-danger {
    color: #fff;
}



























